name: API Worlder Test

# Run on push and pull request to main branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  api-test:
    runs-on: ubuntu-latest

    steps:
    # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4
    # Setup Node.js for Newman
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman
    
    # Run API tests
      - name: Run Postman API Tests
        run: |
          newman run postman/Worlder-test.postman_collection.json
    
    # Test fail 
      # - name: Run Postman API Tests
      #   run: |
      #     newman run postman/Worlder-test.postman_collection
